@media only screen and (min-width: 768px) {
    .main .content{
        background: #eaeaea;
        padding: 5px;
        margin-top: -5px;
        min-height: 500px;
    }

    .login .control{
        background: #0d47a1;
        height: 800px;
    }

    .review .control{
        background: #0d47a1;
        height: 800px;
    }

    .signup .control {
        background: #0d47a1;
        height: 800px;
    }

    .withdraw-wizard .stage{
        height: 650px;
    }
    
    .withdraw-wizard .stage .wcontent {
        padding: 60px 30px;
        height: 100%;
    }

    .upload{
        height: 755px;        
    }

    .withdraw .withdraw-widget .label {
        text-align: center;
        padding: 10px;
        font-family: Lato,sans-serif;
        letter-spacing: 2px;
        font-size: 12px;
    }

    .withdraw .withdraw-widget .amount {
        font-size: 32px;
        font-weight: 600;
        font-family: Lato,sans-serif;
        letter-spacing: 2px;
    }

    .profile{
        height: 650px;
        background: #0d47a1;
    }

    .profile .content-container{
        padding-top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .main .content{
        background: #eaeaea;
        padding: 5px;
        margin-top: -5px;
        min-height: 510px;
    }

    .login .control{
        background: #0d47a1;
        height: 570px;
    }

    .review .control{
        background: #0d47a1;
        height: 570px;
    }

    .signup .control {
        background: #0d47a1;
        height: 570px;
    }

    .withdraw-wizard .stage{
        height: 500px;
    }

    .withdraw-wizard .stage .wcontent {
        padding: 20px 10px;
        height: 100%;
    }

    .signup .m-style{
        height: 678px;
    }

    .upload{
        height: 500px;
    }

    .withdraw .withdraw-widget .label {
        text-align: center;
        padding: 10px;
        font-family: Lato,sans-serif;
        letter-spacing: 2px;
        font-size: 9px;
    }

    .withdraw .withdraw-widget .amount {
        font-size: 18px;
        font-weight: 600;
        font-family: Lato,sans-serif;
        letter-spacing: 2px;
        padding-top: 12px;
    }

    .profile{
        height: 500px;
        background: #0d47a1;
    }

    .profile .content-container{
        padding-top: 10px;
    }
}




.login{
    margin: auto;
}

.login .typo-style{
    color: #FEFEFE;
    text-decoration: none;
}

.login .title-typo-style{
    color: #FEFEFE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.login .ad{
    background: #FFFFFF;
    height: 800px;
}

.login .ad .icon{
    width: 100px;
    padding: 10px;
}

.login .ad .thumb{
    padding-top: 50px;
    margin: auto;
}

.login-icon{
    width: 55%;
}

.error{
    color: #e65100;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.vamus{
    visibility: hidden;
}

.signup{
    margin: auto;
}

.signup .typo-style{
    color: #FEFEFE;
    text-decoration: none;
}

.signup .title-typo-style{
    color: #FEFEFE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.signup .ad{
    background: #FFFFFF;
    height: 800px;
}

.signup .ad .icon{
    width: 100px;
    padding: 10px;
}

.signup .ad .thumb{
    padding-top: 50px;
    margin: auto;
}

.signup .anchor-text{
    font-size: 12px;
    letter-spacing: 2px;
}

.sign-in-form .password-style{
    height: 34px;
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
    background: #fff;
}

.sign-in-form .eye-style{
    color : #0d47a1;
}

.target{
    text-align: center;
}

.target .svg{
    width: 500px;
}

.login-svg{
    width: 100px;
}

.review{
    margin: auto;
}

.review .typo-style{
    color: #FEFEFE;
    text-decoration: none;
}

.review .ad{
    background: #FFFFFF;
    height: 800px;
}

.review .ad .icon{
    width: 100px;
    padding: 10px;
}

.review .ad .thumb{
    padding-top: 50px;
    margin: auto;
}

.review .message{
    color: #FEFEFE;
    margin-bottom: 30px;
}

/* main stylesheet */
.main{
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
    transition: margin-left .5s;

    transition: margin-left .5s;
    padding-top: 64px;
    /* margin-left: 250px; */
}

.main .dash-widget-contribution{
    background: #7CB5EC;
    border: 1px solid #7CB5EC;
    height: 95px;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.main .dash-widget-contribution .amount{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    letter-spacing: 1px;
}

.main .dash-widget-contribution .label{
    font-size: 10px;
    font-weight: 800;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .dash-widget-balance{
    background: #ffffff;
    border: 1px solid #ffffff;
    height: 95px;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.main .dash-widget-available-balance{
    background: #2e7d32;
    color: #fff;
    border: 1px solid #2e7d32;
    height: 95px;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.main .dash-widget-available-balance .amount{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color : #eeeeee;
    letter-spacing: 1px;
}

.main .dash-widget-available-balance .label{
    font-size: 10px;
    font-weight: 800;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 1px;
}    

.main .dash-widget-balance .amount{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #01579b;
    letter-spacing: 1px;
}

.main .dash-widget-balance .label{
    font-size: 10px;
    font-weight: 800;
    color: #01579b;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .dash-widget-interest{
    background: #1aae88;
    border: 1px solid #1aae88;
    height: 95px;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.main .dash-widget-interest .amount{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    letter-spacing: 1px;
}

.main .dash-widget-interest .label{
    font-size: 10px;
    font-weight: 800;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .header{
    position: fixed;
    top: 0;
    padding: 10px;
    background: #FFFFFF;
    width: 100%;
    left: 0;
    height: 60px;
    z-index: 2;
    opacity: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #788288;
}

.main .header .hidden-menu{
    margin-top: -11px;
    text-align: center;
    color: #00838f;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

.main .header .logout{
    position: absolute;
    /* background: #f5f5f5; */
    background: #fff;
    right: 0;
    top: 50px;
    width: 120px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
}

.main .header .logout .dropdown{
    width: 100%;
}

.main .header .logout .dropdown .item{
    float: left;
    padding: 12px 10px 12px 10px;
    width: 100%;
    cursor: pointer;
    background: none;
    color: #788288;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.main .header .logout .dropdown .item-label{
    float: left;
    padding: 5px 10px 5px 10px;
    width: 100%;
    background: none;
    color: #788288;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.main .header .logout .dropdown .item:hover{
    background: #F59231;
    color: white;
}

.main .header .header-logo-icon{
    float: left;
    width: 120px;
    height: 100%;
}

.main .header .header-switch-icon{
    float: left;
    height: 100%;
    padding: 10px 70px 10px 10px;
    font-size: large;
    cursor: pointer;
}

.main .header .header-avatar-icon{
    float: right;
    height: 100%;
    font-size: xx-large;
    padding: 6px;
}

.main .header .header-user{
    float: right;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.sidebar{
    display: block;
    width: 250px;
    transition: 0.5s;
}

.close {
    width : 0px;
    display: none;
}

.breaker{
    height: 5px;
}

.sidebar .sidenav {
    height: 100%; /* 100% Full-height */
    width: 99.6%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidebar .sidenav a {
    width: 100%;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 13px;
    color: #aaaaaa;
    display: block;
    transition: 0.3s;
    letter-spacing: 1px;
    font-weight: 600;
}

.sidebar .sidenav a:hover{
    background: #F59231;    
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.sidebar .sidenav i:hover{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

/* Position and style the close button (top right corner) */
.sidebar .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .sidenav .user-profile{
    float : left;
    width : 100%;
    height: 100px;
    background: #01579b;
    margin-bottom: 10px;
}

.sidebar .sidenav .user-profile .avatar{
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 30px;
}

.sidebar .sidenav .user-profile .avatar>i{
    float: left;
    font-size: xx-large;
    color: #F59231;
    padding: 10px;
}

.sidebar .sidenav .user-profile .details{
    float: left;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 10px 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

.sidebar .sidenav .close-div{
    width: 100%;
    padding: 28px 15px 0 15px;
    background: #01579b;
}

.sidebar .sidenav .close-div .close-icon{
    cursor: pointer;
    color: #ffffff;
}

.sidebar ul{
    list-style-type: none;
    float : left;
    width: 100%;
    padding-left: 0;
}

.sidebar ul>li{
    float:left;
    width: 100%;
}

.sidebar ul>li>*{
    float:left;
}

.sidebar ul>li>a>i{
    padding: 10px 12px 8px 10px;
    color: #F59231;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar .sidenav {padding-top: 15px;}
    .sidebar .sidenav ul {font-size: 18px;}
}

.clearfix{
    clear : both;
    height: 0;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.browse-style{
    width : 310px;
}

.upload-style{
    width : 310px;
}

.overlay2 {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay2 .dialog{
    margin: auto;
    width: 270px;
    text-align: center;
    margin-top: 20%;
    height: 100px;
    background: #ffffff;
    border-radius: 2px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.over .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.profile .ad{
    height: 650px;
    background: #fff;
    margin-top: -39px;
    margin-left: -16px;
    padding-top: 150px;
    padding-left: 75px;
}

.profile .icon{
    width : 215px;
}

.profile .dialog-header .title{
    text-align : center;
    padding : 10px;
    color: #fefefe;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.profile .paginator{
    float : right;
    padding : 10px 15px;
    color: #fefefe;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.profile .content-container .icon{
    width: 100px;
    padding: 10px;
}

.profile .content-container .illustrate{
    height: 209px;
    padding: 50px;
}   

.profile .content-container .illustrate .icon{
    width: 100px;
}

.profile .content-container .input-container{
    padding-top: 20px
}  

.profile .content-container .input-container .wizard-style{
    height: 274px;
}  

.profile .content-container .input-container .update-btn{
    color: #FEFEFE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
} 

.profile .content-container .input-container .update-btn:hover{
    text-decoration: none;
} 

.profile .content-container .input-container .typo-style{
    color: #FEFEFE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.profile .content-container .input-container .congrats{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #FEFEFE;
    text-transform: uppercase;
}

.profile .content-container .input-container .review{
    color: #FEFEFE;
}

.profile .content-container .input-container .review .review-label{
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
    line-height: 1.6;
    float: left;
    padding-left: 0;
    letter-spacing: 1px;
}

.profile .content-container .input-container .review .review-value{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    float: left;
    padding-bottom: 10px;
    padding-left: 0;
}

.profile .content-container .input-container .review .review-value2{
    float: left;    
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-left: 0;
}

.overlay .content-container .input-container input{
    /* background: transparent;
    color: #FEFEFE; */
}

.profile .content-container .input-container .wizard-style .dialog-title{
    float: left;
    padding-bottom: 10px;
    color: #FEFEFE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
}

.profile .content-container .input-container .wizard-style .skip-style{
    float: right;
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-right: 5px;
    color: #ffb300;
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
}

.profile .content-container .input-container .wizard-style .overlay-content-style{
    height: 262px;
}

.profile .content-container .input-container .wizard-style .input-style{
    padding-bottom: 10px;
    color: #FEFEFE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
}

.withdraw{

}

.withdraw .operator{
    font-size: 46px;
    line-height: 0.8;
}

.withdraw .withdraw-widget{
    background: #FFFFFF;
    height: 95px;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.withdraw .withdraw-widget .small{
    display: inline;
    font-size: 10px;
    padding: 10px;
}

.withdraw .operator{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
}

.withdraw-wizard{
    background: transparent;
}



.withdraw-wizard .stage .wpanel{
    padding-top: 20px;
}

.withdraw-wizard .stage .wpanel .logo{
    padding-bottom: 20px;
    padding-top: 20px;
}

.withdraw-wizard .stage .wpanel .content-height{
    height: 300px;
}

.withdraw-wizard .stage .wpanel .password-style{
    color: #e65100;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
}

.withdraw-wizard .stage .wpanel .amount-style{    
    color: #0d47a1;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
}

.withdraw-wizard .stage .wpanel .amount-style-red{    
    color: #b71c1c;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
}

.withdraw-wizard .stage .sider{
    background: #FFFFFF;
    padding-top: 30px;
    height: 100%;
}

.withdraw-wizard .stage .dialog-title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 12px;
    letter-spacing: 1px;
}

.withdraw-wizard .stage .input-style{
    padding-bottom: 5px;
    color: #FEFEFE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}

.withdraw-wizard .stage .confirm-label{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.withdraw-wizard .stage .message-style{
    color: #FFFFFF;
}    

.withdraw-wizard .stage .wcontent .no-funds-style{
    color: #fefefe;
    height: 100%;
}

.withdraw-wizard .stage .wcontent .no-funds-style .banks{
    color: #fefefe;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px;
}

.withdraw-wizard .stage .action-btn{
    color: #FEFEFE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
}

.withdraw-wizard .stage .target{
    text-align: center;
}

.withdraw-wizard .stage .target .svg{
    width: 215px;
}

.withdraw-wizard .stage .date-picker-style{
    width: 100%;
    height: 33px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    border-radius: 3px;
    padding-left: 7px;
    color: #999999;
}

.history .history-header{
    
}

.history .history-header .d-heading{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    font-weight: 600;
    color: #555;
}

.history .history-content .d-item{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #eeeeee;
}

.history .history-header .m-heading{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    font-weight: 600;
    color: #555;
}

.history .history-content .m-item{
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    background: #fff;
    border: 1px solid #eeeeee;
}

.history .history-content .no-available-data{
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #c62828;
}

.history .history-download{
    padding: 7px 14px 7px 14px;
    background: #039be5;
    color: #fefefe;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 1px;
}

.confirm .sentence{
    color: #efefef;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.confirm .sentence .code{
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
}

.confirm .sentence .values{
    font-weight: 600
}

.confirm .sentence .not-available{
    color: #FEFEFE;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.side-drawer{
    position: absolute;
    width: 255px;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index:3;
}

.side-drawer .s-container{
    float: left;
    width: 100%;
}

.side-drawer .s-container .box{
    float: left;
    width: 100%;
    padding: 5px;
}

.side-drawer .s-container .box .image-block{
    float: left;
    height: 80px;
}   

.side-drawer .s-container .box .details{
    float: left;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 600;
    word-spacing: 2px;
} 

.side-drawer .s-container .box .options{
    float: left;
    width: 100%;
}

.side-drawer .s-container .box .options .payment-code{
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-top: 5px;
    font-weight: 600;
    letter-spacing: 4px;
}

.side-drawer .s-container .box .logout{
    float: right;
    padding: 8px 12px 8px 12px;
    border: 1px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

.side-drawer .s-container .box .options .available-label{
    float: left;
    padding: 7px 0 7px 0;
    color: red;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    word-spacing: 2px;
}

.side-drawer .s-container .box .options .available-value{
    float: right;
    background: red;
    padding: 4px 5px 4px 5px;
    color: #fefefe;
    font-weight: 600;
    letter-spacing: 1px;
}

.side-drawer .s-container .list{
    float: left;
    padding-top: 15px;
    width: 100%;
    color: #eeeeee;
}

.side-drawer .s-container .list .menu{
    float: left;
    width: 100%;
    padding: 18px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
}

.confirm .reject-btn{
    background: none;
    color: #FEFEFE;
    border: 1px solid #BBBBBB;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.confirm .approve-btn{
    background: #2196f3;
    color: #FEFEFE;
    border-radius: 0;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.upload .target .svg{
    width: 215px;
}

.upload .sider{
    background: #FFFFFF;
    padding-top: 180px;
    height: 100%;
}

.upload .logo{
    padding-bottom: 20px;
    padding-top: 20px;
}

.upload .content .upload-container{
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    margin: 0px auto;
    position: relative;
}

.upload .content .title{
    color: #0d47a1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.kill-padding{
    padding: 0;
}

.kill-padding-except-left{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.kill-padding-except-right{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.bank-details-style{
    /* text-transform: uppercase; */
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
}

.stage1-style{
    background: #0d47a1;
}

.stage2-style{
    background : #e65100;
}

.stage3-style{
    background: #2e7d32;
}

.stage4-style{
    background: #c62828
}

.transfer-stage1-style{
    background: #bf360c;
}

.calculator-1{
    color: #0d47a1;
}

.calculator-2{
    color: #e65100
}

.calculator-3{
    color: #2e7d32
}

.calculator-4{
    color: #c62828
}

.petit-margin{
    margin-bottom: 5px;
}

.form-style{
    padding-bottom: 10px;
}

.transfer-wizard{
    background: transparent;
}

.transfer-wizard .transfer-dropdown{
    color: #bf360c;
    font-weight: 600;
}

.transfer-wizard .transfer-input{
    color: #bf360c;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
}

